.grid {
  display: grid;
  grid-template-columns: 360px 1fr;
  gap: 64px;
  align-items: start;
  width: 1440px;
  margin: 0 auto;
  padding: 48px 64px;
}

/* .container {
  width: 1184px;        
  margin: 0 auto;
  padding: 48px 64px;
  background-color: #fff;
} */

.error {
  color: var(--color-error);
}
.loaderOverlay {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  background: rgba(255, 255, 255, 0.6);
  z-index: 1000;
}
