.grid {
  display: grid;
  grid-template-columns: 360px 1fr;
  gap: 32px;
  align-items: start;
  width: 1200px;
  margin: 0 auto;
  padding: 48px 64px;
}

/* .container {
  width: 1184px;        
  margin: 0 auto;
  padding: 48px 64px;
  background-color: #fff;
} */

.error {
  color: var(--color-error);
}
