.box {
  /* position: relative; */
  /* border: 1px solid #e6e8ec; */
  border-radius: 16px;
  width: 588px;
  /* min-height: ;
  height: 100%; */
  /* background: red; */
}
.title {
  margin: 0 0 10px;
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  /* gap: 10px; */
  margin-top: 32px;
}
.item {
  /* border-top: 1px solid #eef2f7; */
  /* padding-top: 10px; */
  margin-bottom: 44px;
}
.item:first-child {
  border-top: none;
  padding-top: 0;
}

.head {
  display: flex;
  align-items: flex-start;
  align-items: center;
  /* gap: 4px; */
  /* margin-left: 76px; */
}

.avatar {
  width: 60px;
  height: 60px;
  border: 1px solid var(--color-bg-muted);
  border-radius: 30px;
  background-color: var(--color-bg-muted);
  padding: 10px;
  text-align: center;
  color: var(--color-primary);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  margin-right: 16px;
}
.meta {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  /* gap: 4px; */
}
.text {
  margin: 6px 0 0;
  color: #111827;
}
.stars {
  color: #f59e0b;
}
.muted {
  color: #e5e7eb;
}
.empty {
  color: #6b7280;
}
