.box {
  border: 1px solid var(--color-border);
  border-radius: 16px;
  padding: 44px 57px;
  background: var(--color-bg);
  width: 588px;
}
.title {
  /* margin: 0 0 10px; */
}
.form {
  display: grid;
  gap: 10px;
}
.input {
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 10px;
  padding: 10px 12px;
  background-color: var(--color-bg-soft);
}
.btn {
  border: none;
  background: var(--color-primary);
  color: var(--color-bg);
  padding: 16px 63px;
  border-radius: 100px;
  cursor: pointer;
  width: fit-content;
  display: block;
  margin: 24px auto 0;
}

.btn:hover {
  background: var(--color-primary-hover);
}
.toast {
  margin-top: 6px;
  padding: 10px 12px;
  border-radius: 10px;
  background: var(--color-bg-muted);
  border: 1px solid var(--color-border);
  color: var(--color-text-secondary);
  font-size: 14px;
}

.after_title {
  color: var(--color-text-tertiary);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 24px;
}
.textarea {
  min-height: 118px;
  border: none;
  border-radius: 10px;
  padding: 10px 12px;
  background-color: var(--color-bg-soft);
}
.dateField {
  position: relative;
  height: 60px;
}

.dateNative {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0.001;
  cursor: pointer;
  border: 0;
  background: transparent;
  border-radius: 10px;
  appearance: none;
  -webkit-appearance: none;
}

.dateField:focus-within .input {
  border-color: var(--color-primary);
  box-shadow: none; /* або залиш, якщо хочеш м’який ефект */
}

.input,
.textarea {
  outline: none;
  border: 1px solid transparent; /* щоб не скакала висота */
}

.input:focus,
.textarea:focus {
  border-color: var(--color-primary);
  box-shadow: none; /* або залиш, якщо хочеш м’який ефект */
}
