.header {
  height: 72px;
  background: var(--color-bg);
  border-bottom: 1px solid var(--color-border);
  display: flex;
  align-items: center;
}

.inner {
  width: 1184px;
  margin: 0 auto;
  display: flex;
}

.brand {
  font-weight: 700;
  letter-spacing: -0.02em;
  margin-right: 450px;
}

.nav {
  display: flex;
  gap: 24px;
}

.link {
  text-decoration: none;
  color: var(--color-text-main);
  font-weight: 500;
}

.link.active {
  color: var(--color-primary);
}

.mainNoPad {
  padding: 0;
}
