.btn {
  margin: 24px auto 0;
  display: block;
  padding: 16px 32px;
  border-radius: 200px;
  border: 1px solid var(--color-border);
  background: var(--color-bg);
  font-weight: 500;
  cursor: pointer;
}

.btn:hover { border-color: #e44848; color: #e44848; }
.btn:disabled { opacity: 0.6; cursor: not-allowed; }
