.header {
  height: 72px;
  
 background-color: var(--color-bg-soft);
  border-bottom: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  
}

.inner {
  width: 1184px;
  margin: 0 auto;
  display: flex;
  padding:  0 64px 0 64px ;
  /* background-color: var(--color-bg-soft); */
}

.brand {
  font-weight: 700;
  letter-spacing: -0.02em;
  margin-right: 450px;
}

.nav {
  display: flex;
  gap: 24px;
}

.link {
  text-decoration: none;
  color: var(--color-text-main);
  font-weight: 500;
}

.link.active {
  color: var(--color-primary);
}

.mainNoPad {
  padding: 0;
}

.brand {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-text-main);
  text-decoration: none;
  cursor: pointer;
}

.brand:hover {
  opacity: 0.9;
}
